//
//  Egalvanic-Dev.xcconfig
//  Egalvanic PZ
//
//  Created by Kush Jadia on 13/11/25.
//


// API Configuration
// Note: Using $() to avoid xcconfig treating // as comment
API_BASE_URL = https:/$()/eg-pz.dev.egalvanic.ai/api

// Environment identifier for debugging
ENVIRONMENT_NAME = Debug

// Sentry DSN for crash reporting
SENTRY_DSN = https:/$()/74a5a03926488714678a0f93db4ddd5a@o4509671240105984.ingest.us.sentry.io/4510436760748032

// DevRev SDK App ID for in-app support
DEVREV_APP_ID = DvRvStPZG9uOmNvcmU6ZHZydi11cy0xOmRldm8vMTFDZmw1U3lTSzpwbHVnX3NldHRpbmcvMV9ffHxfXzIwMjQtMTAtMTUgMTg6MTY6NTkuODc1MjQ2MzI4ICswMDAwIFVUQw==xlxendsDvRv
