<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="eGalvanic iOS Automation Suite" verbose="2">

    <!-- FULL TEST SUITE - UNCOMMENT FOR COMPLETE RUN -->
    <test name="Authentication Tests">
        <classes>
            <class name="com.egalvanic.tests.AuthenticationTest"/>
        </classes>
    </test>
    
    <test name="Site Selection Tests">
        <classes>
            <class name="com.egalvanic.tests.SiteSelectionTest"/>
        </classes>
    </test>

</suite>
